@media(max-width:480px) {
    .header-block img {
        width: 70%;
        position: absolute;
        left: 10%;
        top: 45%;
    }
    .header-block .text {
        display: none;
    }
    .box {
        width: 100vw;
        height: 50vh;
        background: white;
        padding: 5px;
        color: black;
        font-size: 12px;
    }
    fieldset {
        width: 100%;
        border: 2px solid gainsboro;
        border-radius: 5px;
        padding: 10px;
    }
    legend {
        font-weight: bold;
        color: rgb(26, 26, 26);
        padding: 10px;
        text-align: left;
        font-size: 1rem;
    }
    .input-box {
        width: 100%;
        padding: 10px;
        position: relative;
    }
    .input-user {
        padding: 5px 5px 0;
        background: rgb(243, 243, 243);
        border: 2px solid gainsboro;
        outline: none;
        letter-spacing: 2px;
        width: 100%;
    }
}

@media(max-width:1024px) {
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    nav {
        display: none;
    }
    .box {
        width: 100vw;
        height: 50vh;
        background: white;
        padding: 5px;
        color: black;
        font-size: 12px;
    }
    .header-block img {
        width: 50%;
        position: absolute;
        left: 22%;
        top: 55%;
    }
    .header-block .text {
        display: none;
    }
    button {
        background: #14FFEC;
        border: none;
        border-radius: 1rem;
        margin-left: 3rem;
        padding: 10px;
        width: 85%;
        font-weight: bold;
    }
    fieldset {
        width: 100%;
        border: 2px solid gainsboro;
        border-radius: 5px;
        padding: 10px;
    }
    .input-box {
        width: 90%;
        margin-left: 2.20rem;
        padding: 10px;
        position: relative;
    }
}