/*RESPONSIVE*/

@media(max-width:576px) {
    nav ul li {
        display: none;
    }
    .header-block img {
        width: 100%;
        position: absolute;
        left: 0;
        top: 55%;
    }
    .header-block .text {
        position: absolute;
        bottom: 50%;
        left: 20%;
    }
    section .filter-card {
        width: 360px;
        padding: 0px 10px;
    }
    .search-input {
        max-width: 600px;
        min-width: 240px;
    }
    .search-button {
        max-width: 150px;
        min-width: 80px;
    }
    .about {
        margin-top: 100px;
    }
    .title-wrapper-about {
        margin-bottom: 20px;
    }
    .about-content {
        flex-direction: column;
        height: 100%;
    }
    .left {
        display: none;
    }
    .right {
        width: 90%;
    }
    .right p {
        width: 100%;
        margin: 0px;
        text-align: left;
    }
    .features {
        height: 100%;
    }
    .features-card-block {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    footer {
        height: 100%;
    }
    footer .main {
        height: 100%;
    }
    .footer-rental {
        height: 30%;
        position: absolute;
        right: 60px;
    }
    .footer-link {
        flex-direction: column;
        padding: 10%;
    }
}