/*RESPONSIVE*/

@media(max-width:576px) {
    nav ul li {
        display: none;
    }
    .header-block img {
        width: 80%;
        position: absolute;
        left: 12%;
        top: 30%;
    }
    .header-block .text {
        position: absolute;
        bottom: 10%;
        left: 15;
    }
    section .filter-card {
        width: 360px;
        padding: 0px 10px;
    }
    .search-input {
        max-width: 200px;
        min-width: 240px;
    }
}