/*RESPONSIVE*/

@media(max-width:576px) {
    nav ul li {
        display: none;
    }
    .header-block img {
        width: 70%;
        position: absolute;
        right: 16%;
        top: 30%;
    }
    .header-block
}